<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Bem vindo!</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>

    <style>
        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <body>
        <div id="app" data-app>
            <h1>Wesley's PC calculator</h1>
            <label for="tipo_produto">Tipo do produto:</label>
            <select id="tipo_produto" @change="showQTD">
                <option value="0" disabled></option>
                <option v-for="item in items" :value="item.value">{{ item.nome }}</option>
            </select>
            <label for="quantidade_produto" v-show="show">Quantidade do produto:</label>
            <select id="quantidade_produto" v-show="show">
                <option v-for="quantidade in quantidades" :value="quantidade">x{{ quantidade }}</option>
            </select>
            <br>
            <label for="nome">Nome do produto:</label>
            <input id="nome" type="text" value="">
            <br>
            <label for="preco">Preço do produto:</label>
            <input id="preco" type="number" value="">
            <br>
            <button @click="adicionar">Adicionar</button>
            <button @click="resetar">Reset</button>
            <button @click="printPDF">Salvar PDF</button>
            <br>
            <table style="text-align: center; border: 1px solid black;">
                    <tr>
                        <td>Combo</td>
                        <td>Preço total</td>
                        <td>Preço com desconto</td>
                    </tr>
                    <template v-for="p in produtos">
                        <tr>
                            <td><div style="white-space: pre-line">{{ p.nome }}</div></td>
                            <td>{{ convertDesconto(p.preco) }}</td>
                            <td>{{ convertDesconto(p.desconto) }}</td>
                        </tr>
                    </template>
            </table>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items: [
                    {value: 1, nome: 'Gabinete'},
                    {value: 2, nome: 'Procesador'},
                    {value: 3, nome: 'RAM'},
                    {value: 4, nome: 'VGA'},
                    {value: 5, nome: 'MOBO'},
                    {value: 6, nome: 'Fonte'},
                ],
                quantidades: [1,2,3,4],
                show: false,
                gabinetes: [],
                processadores: [],
                rams: [],
                vgas: [],
                mobos: [],
                fontes: [],
                total: [0, 0, 0, 0, 0, 0],
                produtos: [],
            },
            methods: {
                calcularProdutos: function(produto) {
                    let existe = false;
                    if( this.total[produto.tipo - 1] > 0 ) {
                        existe = true;
                    }
                    let novosprodutos = [];
                    if( existe ) {
                        switch( produto.tipo ) {
                            case 1:
                                for( i = 0; i < this.gabinetes.length; i++ ) {
                                    novosprodutos.push({nome: "Gabinete: " + this.gabinetes[i].nome, preco: this.gabinetes[i].preco, desconto: this.gabinetes[i].preco*0.85});
                                }
                                if( this.processadores.length ) {
                                    let x = [];
                                    for( i = 0; i < this.processadores.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nProcessador: " +this.processadores[i].nome, preco: novosprodutos[j].preco +this. processadores[i].preco, desconto: (novosprodutos[j].preco + this.processadores[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.rams.length ) {
                                    let x = [];
                                    for( i = 0; i < this.rams.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nRAM: x" + this.rams[i].quantidade + " " +this.rams[i].nome, preco: novosprodutos[j].preco +this. rams[i].preco, desconto: (novosprodutos[j].preco + this.rams[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.vgas.length ) {
                                    let x = [];
                                    for( i = 0; i < this.vgas.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nVGA: " +this.vgas[i].nome, preco: novosprodutos[j].preco + this.vgas[i].preco, desconto: (novosprodutos[j].preco + this.vgas[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.mobos.length ) {
                                    let x = [];
                                    for( i = 0; i < this.mobos.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nPlaca Mãe: " +this.mobos[i].nome, preco: novosprodutos[j].preco + this.mobos[i].preco, desconto: (novosprodutos[j].preco + this.mobos[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.fontes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.fontes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nFonte: " +this.fontes[i].nome, preco: novosprodutos[j].preco + this.fontes[i].preco, desconto: (novosprodutos[j].preco + this.fontes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }
                                break;
                            case 2:
                                for( i = 0; i < this.processadores.length; i++ ) {
                                    novosprodutos.push({nome: "Processador: " + this.processadores[i].nome, preco: this.processadores[i].preco, desconto: this.processadores[i].preco*0.85});
                                }
                                if( this.gabinetes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.gabinetes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: "Gabinete: " +this.gabinetes[i].nome + "\n" + novosprodutos[j].nome, preco: novosprodutos[j].preco + this.gabinetes[i].preco, desconto: (novosprodutos[j].preco + this.gabinetes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.rams.length ) {
                                    let x = [];
                                    for( i = 0; i < this.rams.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nRAM: x" + this.rams[i].quantidade + " " +this.rams[i].nome, preco: novosprodutos[j].preco +this. rams[i].preco, desconto: (novosprodutos[j].preco + this.rams[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.vgas.length ) {
                                    let x = [];
                                    for( i = 0; i < this.vgas.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nVGA: " +this.vgas[i].nome, preco: novosprodutos[j].preco + this.vgas[i].preco, desconto: (novosprodutos[j].preco + this.vgas[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.mobos.length ) {
                                    let x = [];
                                    for( i = 0; i < this.mobos.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nPlaca Mãe: " +this.mobos[i].nome, preco: novosprodutos[j].preco + this.mobos[i].preco, desconto: (novosprodutos[j].preco + this.mobos[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.fontes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.fontes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nFonte: " +this.fontes[i].nome, preco: novosprodutos[j].preco + this.fontes[i].preco, desconto: (novosprodutos[j].preco + this.fontes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }
                                break;
                            case 3:
                                for( i = 0; i < this.rams.length; i++ ) {
                                    novosprodutos.push({nome: "RAM: x" + this.rams[i].quantidade + " " + this.rams[i].nome, preco: this.rams[i].preco, desconto: this.rams[i].preco*0.85});
                                }
                                if( this.gabinetes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.gabinetes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: "Gabinete: " +this.gabinetes[i].nome + "\n" + novosprodutos[j].nome, preco: novosprodutos[j].preco + this.gabinetes[i].preco, desconto: (novosprodutos[j].preco + this.gabinetes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.processadores.length ) {
                                    let x = [];
                                    for( i = 0; i < this.processadores.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nProcessador: " + this.processadores[i].nome, preco: novosprodutos[j].preco +this. processadores[i].preco, desconto: (novosprodutos[j].preco + this.processadores[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.vgas.length ) {
                                    let x = [];
                                    for( i = 0; i < this.vgas.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nVGA: " +this.vgas[i].nome, preco: novosprodutos[j].preco + this.vgas[i].preco, desconto: (novosprodutos[j].preco + this.vgas[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.mobos.length ) {
                                    let x = [];
                                    for( i = 0; i < this.mobos.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nPlaca Mãe: " +this.mobos[i].nome, preco: novosprodutos[j].preco + this.mobos[i].preco, desconto: (novosprodutos[j].preco + this.mobos[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.fontes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.fontes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nFonte: " +this.fontes[i].nome, preco: novosprodutos[j].preco + this.fontes[i].preco, desconto: (novosprodutos[j].preco + this.fontes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }
                                break;
                            case 4:
                                for( i = 0; i < this.vgas.length; i++ ) {
                                    novosprodutos.push({nome: "VGA: " + this.vgas[i].nome, preco: this.vgas[i].preco, desconto: this.vgas[i].preco*0.85});
                                }
                                if( this.gabinetes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.gabinetes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: "Gabinete: " +this.gabinetes[i].nome + "\n" + novosprodutos[j].nome, preco: novosprodutos[j].preco + this.gabinetes[i].preco, desconto: (novosprodutos[j].preco + this.gabinetes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.processadores.length ) {
                                    let x = [];
                                    for( i = 0; i < this.processadores.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nProcessador: " + this.processadores[i].nome, preco: novosprodutos[j].preco +this. processadores[i].preco, desconto: (novosprodutos[j].preco + this.processadores[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.rams.length ) {
                                    let x = [];
                                    for( i = 0; i < this.rams.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nRAM: x" + this.rams[i].quantidade + " " +this.rams[i].nome, preco: novosprodutos[j].preco +this. rams[i].preco, desconto: (novosprodutos[j].preco + this.rams[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.mobos.length ) {
                                    let x = [];
                                    for( i = 0; i < this.mobos.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nPlaca Mãe: " +this.mobos[i].nome, preco: novosprodutos[j].preco + this.mobos[i].preco, desconto: (novosprodutos[j].preco + this.mobos[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.fontes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.fontes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nFonte: " +this.fontes[i].nome, preco: novosprodutos[j].preco + this.fontes[i].preco, desconto: (novosprodutos[j].preco + this.fontes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }
                                break;
                            case 5:
                                for( i = 0; i < this.mobos.length; i++ ) {
                                    novosprodutos.push({nome: "MOBO: " + this.mobos[i].nome, preco: this.mobos[i].preco, desconto: this.mobos[i].preco*0.85});
                                }
                                if( this.gabinetes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.gabinetes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: "Gabinete: " +this.gabinetes[i].nome + "\n" + novosprodutos[j].nome, preco: novosprodutos[j].preco + this.gabinetes[i].preco, desconto: (novosprodutos[j].preco + this.gabinetes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.processadores.length ) {
                                    let x = [];
                                    for( i = 0; i < this.processadores.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nProcessador: " + this.processadores[i].nome, preco: novosprodutos[j].preco +this. processadores[i].preco, desconto: (novosprodutos[j].preco + this.processadores[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.rams.length ) {
                                    let x = [];
                                    for( i = 0; i < this.rams.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nRAM: x" + this.rams[i].quantidade + " " +this.rams[i].nome, preco: novosprodutos[j].preco +this. rams[i].preco, desconto: (novosprodutos[j].preco + this.rams[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.vgas.length ) {
                                    let x = [];
                                    for( i = 0; i < this.vgas.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nVGA: " +this.vgas[i].nome, preco: novosprodutos[j].preco + this.vgas[i].preco, desconto: (novosprodutos[j].preco + this.vgas[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.fontes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.fontes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nFonte: " +this.fontes[i].nome, preco: novosprodutos[j].preco + this.fontes[i].preco, desconto: (novosprodutos[j].preco + this.fontes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }
                                break;
                            case 6:
                                for( i = 0; i < this.fontes.length; i++ ) {
                                    novosprodutos.push({nome: "Fonte: " + this.fontes[i].nome, preco: this.fontes[i].preco, desconto: this.fontes[i].preco*0.85});
                                }
                                if( this.gabinetes.length ) {
                                    let x = [];
                                    for( i = 0; i < this.gabinetes.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: "Gabinete: " +this.gabinetes[i].nome + "\n" + novosprodutos[j].nome, preco: novosprodutos[j].preco + this.gabinetes[i].preco, desconto: (novosprodutos[j].preco + this.gabinetes[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.processadores.length ) {
                                    let x = [];
                                    for( i = 0; i < this.processadores.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nProcessador: " + this.processadores[i].nome, preco: novosprodutos[j].preco +this. processadores[i].preco, desconto: (novosprodutos[j].preco + this.processadores[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.rams.length ) {
                                    let x = [];
                                    for( i = 0; i < this.rams.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nRAM: x" + this.rams[i].quantidade + " " +this.rams[i].nome, preco: novosprodutos[j].preco +this. rams[i].preco, desconto: (novosprodutos[j].preco + this.rams[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.vgas.length ) {
                                    let x = [];
                                    for( i = 0; i < this.vgas.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nVGA: " +this.vgas[i].nome, preco: novosprodutos[j].preco + this.vgas[i].preco, desconto: (novosprodutos[j].preco + this.vgas[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }

                                if( this.mobos.length ) {
                                    let x = [];
                                    for( i = 0; i < this.mobos.length; i++ ) {
                                        for( j = 0; j < novosprodutos.length; j ++) {
                                            x.push({nome: novosprodutos[j].nome + "\nMOBO: " +this.mobos[i].nome, preco: novosprodutos[j].preco + this.mobos[i].preco, desconto: (novosprodutos[j].preco + this.mobos[i].preco)*0.85});
                                        }
                                    }
                                    novosprodutos = x;
                                }
                                break;
                            default:
                                break;
                        }
                        this.produtos = novosprodutos;
                    } else {
                        if( this.produtos.length ) {
                            let product_nome_tipo;
                            switch( produto.tipo ) {
                                case 1:
                                    product_nome_tipo = "Gabinete:";
                                    break;
                                case 2:
                                    product_nome_tipo = "Processador:";
                                    break;
                                case 3:
                                    product_nome_tipo = "RAM: x" + produto.quantidade;
                                    break;
                                case 4:
                                    product_nome_tipo = "VGA:";
                                    break;
                                case 5:
                                    product_nome_tipo = "MOBO:";
                                    break;
                                case 6:
                                    product_nome_tipo = "Fonte:";
                                    break;
                            }
                            let x = []
                            for(i = 0; i < this.produtos.length; i++) {
                                x.push({nome: this.produtos[i].nome + "\n" + product_nome_tipo + " " + produto.nome, preco: this.produtos[i].preco + produto.preco, desconto: (this.produtos[i].preco + produto.preco)*0.85});
                            }
                            this.produtos = x;
                        } else {
                            let product_nome_tipo;
                            switch( produto.tipo ) {
                                case 1:
                                    product_nome_tipo = "Gabinete:";
                                    break;
                                case 2:
                                    product_nome_tipo = "Processador:";
                                    break;
                                case 3:
                                    product_nome_tipo = "RAM: x" + produto.quantidade;
                                    break;
                                case 4:
                                    product_nome_tipo = "VGA:";
                                    break;
                                case 5:
                                    product_nome_tipo = "MOBO:";
                                    break;
                                case 6:
                                    product_nome_tipo = "Fonte:";
                                    break;
                            }
                            this.produtos.push({nome: product_nome_tipo + " " + produto.nome, preco: produto.preco, desconto: produto.preco*0.85})
                        }
                    }
                    this.total[produto.tipo - 1]++;
                },
                adicionar: function() {
                    const tipo = parseInt(document.getElementById("tipo_produto").value, 10);
                    const nome = document.getElementById("nome").value;
                    const preco = parseFloat(document.getElementById("preco").value);

                    if( tipo == 3 ) {
                        const quantidade = document.getElementById("quantidade_produto").value;
                        var produto = {tipo: tipo, nome: nome, preco: preco*quantidade, quantidade: quantidade};
                    } else {
                        var produto = {tipo: tipo, nome: nome, preco: preco, quantidade: 1};
                    }

                    switch( tipo ) {
                        case 1:
                            this.gabinetes.push(produto);
                            break;
                        case 2:
                            this.processadores.push(produto);
                            break;
                        case 3:
                            this.rams.push(produto);
                            break;
                        case 4:
                            this.vgas.push(produto);
                            break;
                        case 5:
                            this.mobos.push(produto);
                            break;
                        case 6:
                            this.fontes.push(produto);
                            break;
                        default:
                            break;
                    }

                    this.calcularProdutos(produto);
                },
                showQTD: function(event) {
                    if( event.target.value == 3 ) {
                        this.show = true;
                    } else {
                        this.show = false;
                    }
                },
                convertDesconto: function(p) {
                    return p.toFixed(2);
                },
                resetar: function() {
                    this.gabinetes = [],
                    this.processadores = [],
                    this.rams = [],
                    this.vgas = [],
                    this.mobos = [],
                    this.fontes = [],
                    this.total = [0, 0, 0, 0, 0, 0],
                    this.produtos = [];
                },
                printPDF: function() {
                    print();
                }
            }
        })
    </script>
</html>